<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="fw-bold">Want a pokemon?</h1>

  <div class="mt-4">
    <form action="/new">
    <label for="button">
    <input id="button" type="submit" value="Get a pokemon" class="btn btn-primary btn-lg">
    </form>
  </div>
</div>
