
<h1> Who's that Pokemon? </h1>

<div>
  <p> Your randomly generated pokemon is: <%= @name %> </p>
  <p> <%= @name %> weighs <%= @weight %> hectograms and is <%= @height %> decimeters tall! </p>
</div>

<a href="/new"> Get a different pokemon! </a>
